# macOS + IDE
.DS_Store
.idea/

# Python
__pycache__/
.venv/
venv/

# Node / Frontend
node_modules/
package-lock*.json

# Build artifacts
build/
dist/

# Monorepo dirs
bids_datasets/
eCRF_backend/.DS_Store
eCRF_backend/__pycache__/
eCRF_backend/logs/
eCRF_backend/uploads/
eCRF_backend/archive/dts_store/schemas/
ecrf_data/
logs/
testing/.DS_Store
shacl-tulip/

# Project-specific
public/favicon.ico


eCRF_frontend/node_modules/
eCRF_frontend/.DS_Store
eCRF_frontend/public/favicon.ico


