// _variables.scss

// Colors
$primary-color: #444;
$primary-hover: #333;

$secondary-color: #f4f4f4;
$secondary-hover: #e0e0e0;
$text-color: #333;
$border-color: #ddd;

// Sizing
$button-padding: 10px;
$button-border-radius: 5px;

$light-background: #f9f9f9;